body {
    background-color: #f5f5f5;
}

#toprow {
    overflow:auto;
    background:#DCEAF4;
}

#centerrow {
    overflow:auto;
}

#bottomrow {
    overflow:auto;
    background:#DCEAF4;
}

#leftcolumn {
    height: 100%;
    background:#BBD8E9;
}

#centercolumn {
    height: 100%;
    background:#DDDDDD;
}

#rightcolumn {
    height: 100%;
    background:#BBD8E9;
}

.highlight {
    border: 2px solid #ff3333;		
}